<br>
<h1>Take a look at your <em>hilarious</em> creation!</h1>

<p>The other day, a @Model.GetNoun1() went to the store. Inside, the store was very @Model.GetAdj1(). Seeing this, the @Model.GetNoun1() decided to @Model.GetVerb1(). She did this very @Model.GetAdverb(), and everyone was very @Model.GetAdj2(). Suddenly, a @Model.GetNoun2() showed up and told her to @Model.GetVerb2().
